@using DotNet.Entity
@model IEnumerable<PermissUserLogin>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>当前用户</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/all.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/css/BootStrapTree.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

</head>
@{
    List<PermissUserLogin> list = ViewData["UserList"] as List<PermissUserLogin>;
}
<body>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <a href="javascript:void(0)" class="btn btn-app" onclick=" AdminUser_Add() ">
                                <i class="fa fa-edit"></i> 添加
                            </a>
                            <a href="javascript:void(0)" class="btn btn-app" onclick=" AdminUser_Edit() ">
                                <i class="fa fa-edit"></i> 修改
                            </a>
                            <a href="javascript:void(0)" class="btn btn-app" onclick=" AdminUser_Delete() ">
                                <i class="fa fa-edit"></i> 删除
                            </a>
                            <a href="javascript:void(0)" class="btn btn-app" onclick=" AdminUser_DisEnable() ">
                                <i class="fa fa-edit"></i> 禁用
                            </a>
                            <a href="javascript:void(0)" class="btn btn-app" onclick=" AdminUser_Details() ">
                                <i class="fa fa-edit"></i> 查看详细
                            </a>
                            <a href="javascript:void(0)" class="btn btn-app" onclick=" AdminUser_SetDepartment() ">
                                <i class="fa fa-edit"></i> 部门设置
                            </a>
                        </h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="menuTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>头像</th>
                                    <th>账号</th>
                                    <th>密码</th>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>账号申请日期</th>
                                    <th>账号添加日期</th>
                                    <th>是否可用</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in list)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="checkId" class="checkboxId" value="@item.Id">
                                        </td>
                                        @*img-thumbnail  img-rounded img-circle*@
                                        <td><img class="img-responsive img-circle" src="~/Content/images/UserHeadPhoto/@item.PhotoPath" alt="@item.UserName" /></td>
                                        <td>@item.LoginId</td>
                                        <td>@item.LoginPwd</td>
                                        <td>@item.UserName</td>
                                        <td>@item.UserEmail</td>
                                        <td>@item.ApplyDate</td>
                                        <td>@item.AddDate</td>
                                        <td>@item.IsAble</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
    <div id="AddModal" class="modal" data-easein="fadeInDown" data-easeout="fadeOutDown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">添加用户</h4>
                </div>
                <div class="modal-body">
                    @using (@Html.BeginForm("Add", "AdminUser", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                    {
                        <div class="box-body">
                            @Html.InPutTag("账号", "AddLoginId", "登录账号")
                            @Html.InPutTag("密码", "AddLoginPwd", "登录密码")
                            @Html.InPutTag("用户名", "AddUserName", "用户名称")
                            @Html.InPutTag("邮箱", "AddUserEmail", "邮箱 如 abc@sina.com", "email")
                            <div class="form-group">
                                <label for="AddPhotoPath">头像</label>
                                <input type="file" class="form-control" id="AddPhotoPath" name="AddPhotoPath" accept="image/jpeg,image/png">
                            </div>
                        </div>
                    <!-- /.box-body -->
                        <div class="box-footer" style="text-align: center">
                            <button type="submit" class="btn btn-primary">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button id="addReset" type="reset" class="btn btn-info">重置</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true" onclick=" $('#addReset').click() ">关闭</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="EditModal" class="modal" data-easein="fadeInDown" data-easeout="fadeOutDown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">修改用户</h4>
                </div>
                <div class="modal-body">
                    @using (@Html.BeginForm("Edit", "AdminUser", FormMethod.Post, new
                {
                    role = "form",
                    enctype = "multipart/form-data"
                }))
                    {
                        <div class="box-body">
                            <div class="form-group" align="center">
                                <img class="img-responsive img-circle" id="imgSrc" src="../../Content/images/UserHeadPhoto/default.png" alt="" style="width: 90px" /><br />
                                <label id="labName">admin</label><br />
                                <label id="path"></label>
                                <input type="hidden" name="Id" id="Id" value="" />
                                <input type='button' value='修改头像' onclick=' javascript: $("#PhotoPath").click(); ' />
                                <input id="PhotoPath" name="PhotoPath" style="display: none" type="file" onchange=" $('#path').text(this.value) " />
                            </div>
                            @Html.EditInPutTag("密码", "LoginPwd")
                            @Html.EditInPutTag("用户名", "UserName")
                            @Html.EditInPutTag("邮箱", "UserEmail")
                        </div><!-- /.box-body -->
                        <div class="box-footer" style="text-align: center">
                            <button type="submit" class="btn btn-primary">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="DitailModal" class="modal" data-easein="fadeInDown" data-easeout="fadeOutDown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">详细信息</h4>
                </div>
                <div class="modal-body">
                    <div id="detailDiv" class="box-body">
                    </div>
                    <div class="box-footer" style="text-align: center">
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">确定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="DepModal" class="modal" data-easein="fadeInDown" data-easeout="fadeOutDown" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


        <div class="modal-dialog" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">设置部门</h4>
                </div>
                <div class="modal-body tree well">
                    @Html.Raw(ViewData["depTree"])
                </div>
                @using (@Ajax.BeginForm("SetDepartment", new AjaxOptions()
                {
                    OnBegin = "beginSetDep",
                    OnComplete = "completeSetDep"
                }))
                {
                    <input type="hidden" name="hideUserList" id="hideUserList" value="" />
                    <input type="hidden" name="hideDepId" id="hideDepId" value="" />
                    <div class="box-footer" style="text-align: center">
                        <button type="submit" id="btnOk" class="btn btn-primary">确定</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                }
            </div>
        </div>

    </div>


    <!-- jQuery 2.1.4 -->
    <script src="/Content/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    @*异步提交表单*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*该页面的专属脚本*@
    <script src="~/Scripts/PageScript/AdminUser.js"></script>
    <script src="~/Scripts/UtilityScript/BoostStrapTree.js"></script>
</body>
</html>
